.posts-search {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin: 0 12vw;
}

.posts-search a {
    text-decoration: none;
}

.searchform {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5vh 0 8vh;
}

.searchform input {
    padding: 10px;
    width: 25vw;
}

.searchform svg {
    font-size: 20px;
}